.nav-bar {
  display: flex;
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem;

  .navbar-left {
    display: flex;
    align-items: center;

    .nav-logo {
      height: 5rem;
    }

    ul {
      display: flex;
      padding: 0;
      list-style-type: none;

      li {
        margin: 0 0.5rem;

        a {
          text-decoration: none;
          color: black;
        }

        a:hover {
          color: #5a005a;
          font-weight: bold;
        }
      }
    }
  }

  .navbar-right {
    width: 30vw;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: center;
      padding: 30px;
      justify-content: space-around;

      li {
        list-style-type: none;
        margin: 0 0.5rem;

        img {
          height: 2rem;
        }
      }

      li:hover {
        color: #5a005a;
        font-weight: bold;
      }
    }
  }
  .modal-container {
    div {
      padding-bottom: 0;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    width: 280px;
    padding: 0 1rem;
    padding-bottom: 0.5rem;
    border: 1.5px solid rgba(189, 189, 189, 0.681);
    border-radius: 16px;
    position: absolute;
    display: flex;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    background-color: white;
    z-index: 1;
  }

  .cardDropDown {
    aside {
      padding-bottom: 0;
      width: 30vw;
    }

    top: 5.3rem;
    right: 28rem;
    flex-flow: column;
    width: auto;
  }
}
