#order-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25rem;

    figure{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .item-img{
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
    }

    .close-icon img{
        width: 1rem;
        height: 1rem;
        cursor: pointer;
    }
}