.tittle-order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: bold;
  color: #000;
}
.orderlist {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  .product-card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #f8f9fa;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    img {
      width: 100px;
      height: 100px;
    }

    .info-product {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-left: 10rem;
      width: 100%;

      span {
        font-size: 1.3em;
      }
    }
  }

  .buttons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

    .button-enviar {
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
    .modal-container {
      div {
        padding-bottom: 0;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }

      width: 280px;
      padding: 0 1rem;
      padding-bottom: 0.5rem;
      border: 1.5px solid rgba(189, 189, 189, 0.681);
      border-radius: 16px;
      position: absolute;
      display: flex;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
      background-color: white;
      z-index: 1;
    }

    .cardDropDown {
      aside {
        padding-bottom: 0;
        width: 30vw;
      }

      top: 10.5rem;
      right: 13rem;
      flex-flow: column;
      width: auto;
    }
  
