#my-order{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    border: 1px solid red;
    .tittle-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .tittle{
            font-size: 20px;
        }
    }

    .my-order-content{
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}